<article>
  <div class="row">
    <div class="col-md-12">
      <a href="{{url}}"><h2>{{title}}</h2></a>
    </div>
  </div>
  <div class="row">
      <div class="col-md-4">
        <p>{{meta_description}}</h2>
      </div>
      <div class="col-md-8">
        <div class="picture" style="background-image:url({{feature_image}});"></div>
      </div>
    </div>
</article>